.mainContainer {
  position: fixed;
  background-color: rgb(75, 75, 75);
  color: white;
  z-index: 100;
  right: 0;
  top: 0;
  bottom: 0;
  width: 35vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  background: linear-gradient(to right, black -150%, rgb(75, 75, 75) 30%);
}
.open {
  transform: translateX(0%);
}

.cross {
  font-size: 1.8rem;
  position: absolute;
  left: 1rem;
  top: 0.4rem;
}

.sideNav {
  margin-top: 4rem;
}

@media screen and (min-width: 601px) {
  .mainContainer {
    display: none;
  }
}
